<main class="main">
  <section class="main__content content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at, consequatur cupiditate delectus deleniti dolore
    dolorem eveniet in maiores natus nobis perspiciatis quae quas qui quidem quis repellat sed sequi vel veniam.
    Necessitatibus nulla omnis voluptas. Aliquam consequatur, dignissimos eveniet expedita facere hic impedit itaque
    laboriosam modi, quae quis sunt!
  </section>
  <section class="main__sidebar sidebar">
    <h5>sidebar</h5>
    <a href="/">link</a>
    <a href="/">link</a>
    <a href="/">link</a>
    <a href="/">link</a>
  </section>
</main>