@import "mixins";

/******* Примеси *******/

%container {
  min-width: 500px;
  max-width: 800px;
}
%between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
%vertical-centered {
  display: flex;
  align-items: center;
  height: 100%;
}
%column {
  display: flex;
  flex-direction: column;
}
%show {
  opacity: 1;
  @include transition($default-transition);
}
%hide {
  opacity: 0;
  width: 0;
  height: 0;
  @include transition($default-transition);
}
/******* end_Примеси *******/

/******* Tags *******/

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 120%;
  margin: 0 0 0.5em 0;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 120%;
  margin: 0.5em 0;
}
h2 {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120%;
  margin: 0.5em 0;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 120%;
  margin: 0.6em 0;
}
h4 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 120%;
  margin: 0.8em 0;
}
h5 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 120%;
  margin: 1em 0;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 120%;
  margin: 1em 0;
}
html, body {
  height: 100%;
}
body, html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Montserrat', Arial, sans-serif;
  background: $bg-outside;
  color: $text-color;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: normal;
}
button, a, input, textarea {
  outline: none;
}
p {
  margin: 1em 0;
}
ul, ol {
  margin: 1em 0;
}
/******* end_Tags *******/

/******* Components *******/

.wrapper-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: $bg-main;
  overflow: auto;
  flex: 1;
  height: 100%;
  @extend %container;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    width: 500px;
    overflow-x: auto;
  }
}
.header, .footer {
  position: fixed;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #f6f9fb;
  height: 50px;
  width: 100%;
  z-index: 100;
}
.header {
  left: 0;
  @include border-bottom(1px, solid, #999);
  &__inner {
    @extend %container;
    @extend %between;
    @extend %vertical-centered;
  }
}
.footer {
  left: 0;
  right: 0;
  bottom: 0;
  @include border-top(1px, solid, #999);
  &__inner {
    @extend %container;
    @extend %between;
    @extend %vertical-centered;
  }
}
.main {
  background-color: $bg-main;
  text-align: center;
  margin: 50px 0;
  height: calc(100vh - 100px);
  display: flex;
  flex: 1;
  &__content {
    height: calc(100vh - 100px);
    flex: 1;
  }
  &__sidebar {
    width: 300px;
    flex: none;
    overflow: hidden;
  }
}
/******* end_Components *******/

/* Blocks */

.content {
  padding: 20px 30px 20px;
}
.sidebar {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(16, 204, 107, .2);
  @include border-left(1px, solid, #ccc);
  @include shadow(0 0 15px 0 rgba(51, 51, 51, 0.5));
  @extend %column;
  @extend %show;
  @media screen and (max-width: 700px) {
    opacity: 0;
    width: 0;
    height: 0;
    @include transition($default-transition);
  }
}
/* end_Blocks */

/******* atomic classes *******/

._bold {
  font-weight: bold;
}
.bg-red {
  background-color: red;
}
/******* end_atomic classes *******/
